.shop {
  background: #0B0B0B;
  padding: $paddingSection;
  &__title {
    @include titleSection;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
    padding-top: 90px;
    align-items: center;
  }
}

.shop-items {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.scroll {
  overflow-y: hidden;
  max-height: 700px;

  transition: .3s ease;
  &__items {
    height: 0;
    transition: .3s ease;
    z-index: 12;
    background: #0B0B0B;
  }
}

.shop-item {
  padding-bottom: 70px;
  z-index: 12;
  &__scroll {
    height: 200px;
    position: absolute;
    padding-top: 130px;
    z-index: 10;
    background: #0B0B0B;
    transition: .3s ease;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &__delete {
    cursor: pointer;
  }
  &__add {
    cursor: pointer;
  }
  &__number {
    font-family: $fontBellota;
    font-weight: 700;
    color: $mainColor;
    font-size: 48px;
    padding-right: 18px;
  }
  &__subtitle {
    font-family: $fontGabriela;
    font-weight: 400;
    color: white;
    font-size: 48px;
    letter-spacing: 0.02em;
    &-elem {
      padding-left: 40px;
    }
  }
  &__description {
    font-family: $fontBellota;
    font-weight: 400;
    font-size: 24px;
    color: $secondColor;
    padding-left: 37px;
    letter-spacing: 0.05em;
    &-baking {
      padding-left: 42px;
    }
  }
  &__subwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 482px;
  }
  &__flex {
    display: flex;
    &-scroll {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 40px;
    }
  }
}

.feedback {
  padding-top: 175px;
  display: flex;
  flex-direction: column;
  &__label {
    font-family: $fontGabriela;
    font-size: 36px;
    padding-bottom: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.02em;
    &-disabled {
      color: rgba(255,255,255,0.3);
    }
  }
  &__field {
    background: transparent;
    font-family: $fontBellota;
    padding: 15px 44px;
    color: white;
    border: 1px solid $mainColor;
    font-size: 24px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &::placeholder {
      font-family: $fontBellota;
      font-weight: 400;
      color: rgba(255,255,255,0.3);
      font-size: 24px;
    }
    &-disabled {
      border: 1px solid rgba(255,255,255,0.3);
    }
  }
}

#js-button-arrow-down {
  padding-right: 12px;
}

.cart {
  border: 1px solid $mainColor;
  &__wrapper {
    padding: 40px 30px 40px 65px;
  }
  &__subtitle {
    font-family: $fontGabriela;
    font-weight: 400;
    font-size: 48px;
    color: white;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 45px;
  }
  &-item {
    display: flex;
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
    &__icon {
      padding-right: 30px;
      filter: drop-shadow(0px 50px 80px rgba(0, 0, 0, 0.26));
    }
    &__name {
      font-family: $fontGabriela;
      font-weight: 400;
      color: $mainColor;
      font-size: 48px;
      padding-bottom: 40px;
      letter-spacing: 0.02em;
    }
  }
  &__result {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__agree {
    padding-top: 34px;
  }
  &__button {
    cursor: pointer;
    border: 1px solid #ffb605;
    width: 192px;
    height: 58px;
    font-family: "Bellota", cursive;
    font-weight: 400;
    color: #0B0B0B;
    font-size: 24px;
    outline: none;
    background: $mainColor;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    &-sm {
      display: none;
    }
    &:hover {
      color: $mainColor;
      background: transparent;
    }
    &:active {
      background: white;
      color: #0B0B0B;
      border: 1px solid white;
    }
  }
  &__text {
    font-family: $fontBellota;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    padding-top: 13px;
    color: rgba(255,255,255, 0.6);
    padding-left: 40px;
    line-height: 130%;
    letter-spacing: 0.05em;
  }
}

.control {
  display: flex;
  align-items: center;
  &__count {
    font-family: $fontBellota;
    font-weight: 700;
    color: white;
    font-size: 36px;
    padding: 0 45px;
  }
  &__add {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  &__delete {
    cursor: pointer;
    padding: 10px 0;
  }
}

.result {
  &__subtitle {
    font-family: $fontGabriela;
    font-weight: 400;
    font-size: 24px;
    color: $secondColor;
  }
  &__price {
    font-family: $fontBellota;
    color: $mainColor;
    font-size: 36px;
    font-weight: 700;
    padding-top: 13px;
    letter-spacing: -0.05em;
  }
}



// style for checkbox in cart

input[type="checkbox"] {
  display: none;
}

.cart__label {
  color: rgba(255,255,255,0.8);
  font-family: $fontBellota;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  line-height: 30px;
  vertical-align: middle;
}

.cart__label:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid $mainColor;
  border-image: initial;
  vertical-align: middle;
  transition: .3s ease;
}

input:checked + label:before {
  content: "\2714";
  font-size: 20px;
  background: $mainColor;
  transition: .3s ease;
}
