html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

html, body {width:100%; overflow-x:hidden}

// import mainFonts

@font-face {
    font-family: "Gabriola";
    src: url('../fonts/WebFont.ttf') format("truetype");
    font-style: normal;
    font-display: swap;
}

ul, li {
    list-style: none;
    margin: 0;
}

h1, h2, h3,h4,h5,h6 {
    margin: 0;
}
p,span {
    margin: 0;
}

.container {
    max-width: $containerWidth;
    padding: $containerPadding;
    margin: 0 auto;
}

.control-element {
    transition: .3s ease;
    cursor: pointer;
    & path {
        transition: .3s ease;
        stroke-width: 2px;
    }
    &:hover path {
        stroke: $mainColor;
    }
}