$containerWidth: 1140px;
$containerPadding: 0 15px;
$mainColor: #ffb605;
$secondColor: rgba(255,255,255, 0.6);
$paddingSection: 120px 0px;
$fontBellota:  'Bellota', cursive;
$fontGabriela: 'Gabriola', serif;
