doctype
html(lang='ru')
    include pages/partials/head.pug
    body
        include pages/partials/header.pug
        include pages/partials/main.pug
        include pages/partials/footer.pug
        include pages/partials/scripts.pug